.modal[data-effect="fade"] {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.modal.modal-is-inactive[data-effect="fade"] {
  -webkit-transition: opacity 0.3s ease-in-out, left 0s 0.3s linear;
  -moz-transition: opacity 0.3s ease-in-out, left 0s 0.3s linear;
  -o-transition: opacity 0.3s ease-in-out, left 0s 0.3s linear;
  transition: opacity 0.3s ease-in-out, left 0s 0.3s linear;
}

.modal[data-effect="scale"] {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.modal.modal-is-inactive[data-effect="scale"] {
  -webkit-transition: opacity 0.3s ease-in-out, left 0s 0.3s linear;
  -moz-transition: opacity 0.3s ease-in-out, left 0s 0.3s linear;
  -o-transition: opacity 0.3s ease-in-out, left 0s 0.3s linear;
  transition: opacity 0.3s ease-in-out, left 0s 0.3s linear;
}

.modal[data-effect="scale"] > .modal-content {
  -webkit-transform: scale(0.7);
  -moz-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);

  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.modal.modal-is-active[data-effect="scale"] > .modal-content {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.modal.modal-fullscreen > .modal-content {
  -webkit-transition: all 0s ease-in-out;
  -moz-transition: all 0s ease-in-out;
  -o-transition: all 0s ease-in-out;
  transition: all 0s ease-in-out;
}